.deps/
*/.deps/
Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
*~
config.log
config.status
config/
configure
examples/circles
examples/empty
examples/exercise
examples/morecircles
examples/pandademo
examples/pandademolegacy
examples/template
examples/*.pdf

libtool
panda.pc
panda.spec
panda/Makefile
stamp-h1

.libs/
*.la
*.lo
*.o

man/html/*.html
man/panda.html
man/panda.pdf
man/panda.ps
man/panda.rtf
man/panda.tex
man/panda.txt

