.deps/
*/.deps/
Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
*~
config.log
config.status
config/
configure
examples/circles
examples/empty
examples/exercise
examples/morecircles
examples/pandademo
examples/pandademolegacy
examples/template

libtool
panda.pc
panda.spec
panda/Makefile
stamp-h1

.libs/
*.la
*.lo
*.o

